@model Supdate.Web.App.Models.ResetPasswordViewModel
@{
  Layout = "~/Views/Shared/_PreAuthLayout.cshtml";
  ViewBag.Title = "Supdate - Reset password";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
  @Html.AntiForgeryToken()

  <h2 class="form-signin-heading">Reset Password</h2>

  <div class="login-wrap">
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
      @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
      @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
      @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
      @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
      @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
      @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <input type="submit" value="Reset" class="btn btn-login btn-block"/>
  </div>

}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
  <script>
    $("#Email").val("@ViewBag.Email");
    $("#Password").focus();
    if ($("#Email").val().length === 0) {
      $("#Email").focus();
    }

</script>
}
