<div class="modal fade no-propagation" id="@ViewData["chartModalId"]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark-grey">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">@ViewData["modalTitle"]</h4>
      </div>
      <div class="modal-body">
        <div id="@ViewData["chartFullId"]" class="morris-modal"></div>
        <div class="form-horizontal">
          <div class="control-group col-xs-6 col-sm-6">
            <label class="control-label col-sm-2 hidden-xs" for="@ViewData["chartModalId"]-start-date">From:</label>
            <div class="controls col-xs-12 col-sm-10">
              <div class="input-append date w90 " id="@ViewData["chartModalId"]-startDate">
                <input class="form-control cursor-pointer" id="@ViewData["chartModalId"]-start-date" name="start-date" readonly="" type="text" value="" />
                <span class="input-group-btn add-on">
                  <button class="btn btn-gray btn-date-trigger" type="button"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="control-group col-xs-6 col-sm-6">
            <label class="control-label col-sm-2 hidden-xs" for="@ViewData["chartModalId"]-end-date">To:</label>
            <div class="controls col-xs-12 col-sm-10">
              <div class="input-append date w90  " id="@ViewData["chartModalId"]-endDate">
                <input class="form-control cursor-pointer" id="@ViewData["chartModalId"]-end-date" name="end-date" readonly="" type="text" value=""/>
                <span class="input-group-btn add-on">
                  <button class="btn btn-gray btn-date-trigger" type="button"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
